{% extends 'base.html.twig' %}

{% block title %}Espace Prof{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h3 class="display-3">Espace Prof</h3><br>
        <a class="btn btn-primary btn-lg" href="/espace_prof/profils_eleves" role="button">Profils des élèves</a>
        <a class="btn btn-primary btn-lg" href="/espace_prof/messagerie" role="button">Messagerie</a>
        <a class="btn btn-primary btn-lg" href="/espace_prof/utilisateurs" role="button">Administration élèves</a>
    </div>

{% endblock %}