{% extends 'base.html.twig' %}

{% block title %}Espace Prof{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h2 class="display-3">Espace Prof</h2><br>
        <a class="btn btn-primary btn-lg" href="profils_eleves" role="button">Profils des élèves</a>
    </div>

{% endblock %}