{% extends "base.html.twig" %}

{% block body %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Hello message</h1>
        <section id="">
            
        </section>
        <section>
        </section>
    </body>
</html>
{% endblock %}