{% extends "base.html.twig" %}

    {% block body %}
        <h1>Hello message</h1>
        <section>
            <div class="scrollListMail" id="mailList">
            </div> 
        </section>
        <section id="mailContenu">
        </section>
    {% endblock %}