{% extends 'base.html.twig' %}

{% block title %}Espace élève{% endblock %}

{% block body %}
    
    <div class="jumbotron">
        <h1 class="display-3">Bienvenue</h1>
        <p class="lead">Ceci est votre espace élève, vous retrouverez ici votre profil, vos rendez-vous, ...</p>
        <hr class="my-4">
        <p>Veuillez respecter les règles mises en place quant à l'utilisation de cette section.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="espace_eleve/profil_eleve" role="button">Voir Profil</a>
        </p>
    </div>
{% endblock %}