{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="grix xs7 container">
            <div class="col-xs6"><h1>Modification du profil de {{app.user.prenom}} {{app.user.nom}} </h1></div>
            {{form(form)}}

        </div>
    </main>
	

{% endblock %}