body{
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
div button.mailButton {
    width: 100%;
    height: 75px;
    text-align: left;
    background-color: white;
}

section div div.contentMail {
    border: solid grey 1px;
    min-width: 700px;
    max-width: 1500px;
    height: 675px;
    float: left;
}

div.sectionMail {
    margin: auto;
    width: 100%;
    background-color: red;
}