body{
    margin: 0;
    padding: 0;
}

div.scrollListMail {
    width: 300px;
    height: 675px;
    overflow-y: auto;
    border: solid gray 1px;
    float: left;
}

div button.mailButton {
    width: 100%;
    height: 75px;
    background-color: white;
}

div.contentMail {
    border: solid grey 1px;
    min-width: 700px;
    max-width: 1500px;
    height: 675px;
    float: left;
}

div.sectionMail {
    margin: auto;
    width: 70%;
    background-color: red;
    display: block;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section div.sectionMail {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

div#calendrierAffichage table {
    text-align: center;
}