{% extends 'base.html.twig' %}

{% block title %}Votre Calendrier{% endblock %}

{% block javascripts %}
    <script src="../assets/app.js" type="text/babel"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div id="root" class="jumbotron">
    </div>
    <div id="calendrierAffichage">
        <table class="table" id="tableAffichage">
            <tr>
                <td scope="col">Date</td>
                <td>Heure</td>
                <td>Cours</td>
                <td>Status</td>
            </tr>
        </table>
    </div>
{% endblock %}