{% extends 'base.html.twig' %}

{% block title %}Votre Calendrier{% endblock %}

{% block javascripts %}
    <script type="module" src="{{ asset('./calendrier/App.js  ') }}"></script>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <p>test</p>
    </div>
{% endblock %}