{% extends 'base.html.twig' %}

{% block title %}Votre Calendrier{% endblock %}

{% block javascripts %}
    {% if is_granted("ROLE_ADMIN") %}
        {{ encore_entry_script_tags('app') }}
    {% endif %}
{% endblock %}

{% block body %}
    <div id="root" class="jumbotron">
    </div>
{% endblock %}