{% extends "base.html.twig" %}


{% block body %}

    <!doctype html>
    <html lang="fr">
        <head>
            <meta charset="utf-8">
            <title>Home</title>
            <link rel="stylesheet" href="style.css">
            <script src="script.js"></script>
        </head>
        <body><br><br><br>
            <div class="card" style="width: 23rem; background-color:grey; float: left">
                <img class="card-img-top" src="img/photo.jpg" alt="photo">
                <div class="card-body">
                    <h5 class="card-title">Présentation</h5>
                    <p class="card-text">blablablablabla.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">1</li>
                    <li class="list-group-item">2</li>
                    <li class="list-group-item">3</li>
                </ul>
            </div>
        </body>
    </html>

{% endblock %}