{% extends "base.html.twig" %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <title>Page de connexione</title>
        </head>
        <body>
            <header>
                <h1>Connexion</h1>
                <a href="./">Accueil</a>
            </header>
            <section>
                <form>
                    <label for="name" >Identifiant: </label>
                    <input type="text" name="identifiant" id="idLogin" placeholder="Identifiant" required>
                    <label for="motpasse">Mot de passe: </label>
                    <input type="password" name="motpasse" id="mdpLogin" placeholder="Mot de passe" required>
                    <input type="submit" value="Connexion">
                </form>
                <a href="{{ path('mdp_oublie') }}">Mot de passe oublié</a>
                <a href="./inscription">Pas encore inscrit ?</a>
            </section>
            <footer>
                <hr>
                <p>Ce site a été réalisé par B. Bemelmans, L. Carlier, N. Martou et A. Schamroth.<br>2021</p>
            </footer>
        </body>
    </html>
{% endblock %}