{% extends "base.html.twig" %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <title>Récupération du mot de passe</title>
        </head>
        <body>
            <header>
                <h1>Récupération du mot de passe</h1>
            </header>
            <section>
                <form>
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="emailRecup" placeholder="adresse e-mail" required>
                    <input type="submit" value="Envoyer un mail">
                </form>
            </section>
            <footer>
                <hr>
                <p>Ce site a été réalisé par B. Bemelmans, L. Carlier, N. Martou et A. Schamroth.<br>2021</p>
            </footer>
        </body>
    </html>
{% endblock %}