# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\scham\OneDrive - EPHEC asbl\BAC2\Q2\Dev Info III Pratique\Projet\Code Projet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
